@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar d-sm-none">
        <NavMenu />
    </div>

    <main>
        <article class="content">
            @Body
        </article>

    </main>

    <footer>

        <a href="#"><span class=" oi oi-phone"></span>Contact Us</a>

        <a href="#"> <span class=" oi oi-shield"></span>Privacy</a>

        <a href="#"> <span class=" oi oi-laptop"></span>Communicate</a>

        <a href="#"> <span class=" oi oi-person"></span>About</a>

    </footer>

</div>
