.installments {
    border: 9px solid rgb(73, 0, 104);
    margin: 2% 5% 2% 5%;
    padding: 2% 10px 2% 10px;
    border-radius: 20px;
}

h3, h4 {
    display: inline;
}

h3 {
    color: darkorange;
}

h4 {
    margin-right: 5%;
}

.pay-btn {
    margin-left: 5%;
    background-color: rgb(197, 0, 145);
    color: black;
    border-radius: 8px;
    transition: all .5s;
}

    .pay-btn:hover {
        border-radius: 15px;
        background-color: rgb(145, 0, 106);
        font-weight: 700;
    }

.not-active-btn {
    color: black;
    background-color: darkgray;
    margin-left: 5%;
}
