.delete-pay-box {
    border: 4px solid rgb(196, 0, 101);
    padding: 10px;
    border-radius: 25px;
}

.transaction-lbl {
    color: rgb(219, 219, 219);
    font-weight: 600;
}

.payment-input {
    width: auto;
    border: 2px solid rgb(88, 88, 88);
    border-radius: 10px;
    margin: 10px 8px;
}

a {
    text-decoration: none;
    transition: ease-in-out .3s;
}

    a:hover {
        border-radius: 12px;
        background-color: rgb(219, 219, 219);
        color: rgb(196, 0, 101);
    }

.btn-submit {
    background-color: rgb(196, 0, 101);
    color: rgb(219, 219, 219);
    font-weight: 600;
    margin: 10px auto;
}
