@page "/"

<PageTitle>Index</PageTitle>

<div class=" bg-dark top-nav">
        <a class="btn btn-Sign nav-item" href="SignUp">
            SignUp
        </a>

        <a class="btn btn-Login nav-item" href="Login">
            Login
        </a>
    
</div>

<div class="content">
    <h1>
        wellcome to <b style="color:rgb(223, 164, 0);font-family:Arial;">Accountant</b>
    </h1>

    <h3>
        accountant it's accounting web application and help to you for manage your money !
    </h3>

    <br />
    <br />

    <h2 class="text-capitalize text-warning">
        So Now <a href="/Login">login<span class="oi oi-account-login"></span></a> in web application and enjoy
    </h2>

    <br />
    <br />

    <h4 class="text-capitalize ">
        in <b style="color:rgb(223, 164, 0);font-family:Arial;">accountant</b> you can manage your <em style=" color: rgb(140, 215, 55)">salary</em>, <i style="color:rgb(157, 0, 0)">pay</i> or any income and payment and find recognition to your balance and this app have ambition to help you ,
        because everyone need an <b style="color:rgb(223, 164, 0);">accountant</b> application that you can install in you're devices That takes up your device's storage but<b style="color:rgb(223, 164, 0); font-family:Arial;"> accountant</b> run on the web
        and to use this app you need just one browser to use this app on all your devices !
    </h4>
</div>
